.paginatorList {
    margin-bottom: 15px;
}
.pageNumber {
    display: inline-block;
    padding: 5px;
    border: 1px solid grey;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border: 1px solid #000;
}
.prevButton {
    margin-right: 5px;
}
.nextButton {
    margin-left: 5px;
}