.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    padding: 10px;
    border-right: 1px dotted darkslateblue;
}

.messagesList {
    padding: 10px;
}
.form {
    margin-top: 20px;
}